html {
  scroll-behavior: smooth;
}
:root {
--white: #fff;
--background-white: #fff;
--thmes-color: #ff9933;
--thmes-green: #138808;
--heading-font: "Barlow", sans-serif;
}
html {
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
font-size:62.5%;
}
*,
:after,
:before {
box-sizing: border-box;
-moz-osx-font-smoothing: grayscale; /* Firefox */
-webkit-font-smoothing: antialiased; /* WebKit  */
}
@font-face {
font-family: "Radikal";
src: url(../fonts/radikal.ttf);
}
body {
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
}
a {
outline: 0;
text-decoration: none;
color: inherit;
transition: all all 0.5s ease;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}
a {
text-decoration: none;
cursor: pointer;
}
a,
a:hover,
a:focus,
a:active {
text-decoration: none;
outline: none;
box-shadow: none;
}
figure {
margin: 0;
padding: 0;
}
dl,
ol,
ul {
list-style: outside none none;
padding-left: 0px;
margin-bottom: 0px;
}
ul li {
padding: 0;
margin: 0;
list-style: none;
}
a img {
border: none;
max-width: 100%;
}
img {
max-width: 100%;
vertical-align: middle;
border: none;
}
table,
td,
th {
border: 1px solid #222;
border-collapse: collapse;
}
table tbody tr td {
padding: 8px;
color: #222;
font-size: 16px;
}
th {
font-weight: 700;
}
p {
padding: 0;
margin: 6px 0px;
font-size: 15px;
color: #222;
line-height: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 4px 0px;
padding: 4px 0px;
color: #222;
}
button:focus {
outline: 0;
box-shadow: none;
border: 0;
}
input,
textarea,
select,
button {
border: 1px solid #222;
outline: none;
box-shadow: none;
}
textarea {
resize: none;
}
.form-control:focus {
box-shadow: none;
}

/*---- Custom Stylesheet  ------*/

@media (min-width: 1200px){
.containers {
    width: 1440px;
    max-width: 100%;
}
}
#manu-bg{
    background: #f0f5fb;
}
.login-boxsss {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.user-profile-btn li a .ap-total-wishlist.ap-total {
    height: 20px;
    width: 20px;
    font-size: 12px;
    position: absolute;
    top: -20%;
    right: -6px;
    left: auto;
    background: green;
    border-radius: 100%;
    color: #fff;
    line-height: 28px;
    z-index: 999;
}
.font-weight-bolder {
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 14px;
}
.user-profile-btn a.pro-btn {
    height: 42px;
    width: 42px;
    line-height: 42px;
    color: #4d3828;
    border: 2px dashed #4d3828;
    border-radius: 50%;
    display: block;
    background: #f4f7ff;
    cursor: pointer;
    padding: 0;
    text-align: center;
    transition: all ease 0.4s;
    position: relative;
}
.user-profile-btn li.nav-item {
	display: flex;
	margin-left: 0;
	height: 100%;
	align-items: center;
	margin: 0 5px;
}
.user-profile-btn li:first-child {
    margin-left: 0;
}
.user-profile-btn li.nav-item:first-child>a {
	padding-left: 0;
	border-left: 0;
}
.user-profile-btn li a i {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	padding-right: 0;
}
.user-profile-list ul li a i{
	font-size: 12px;
    padding-right: 1px;
}
.user-profile-btn li.nav-item>a{
    display:flex;
    align-items: center;
    padding: 0;
    border-left: 1px solid #ddd;
    padding-left: 14px;
    background: #f97d44;
    padding: 5px 14px !important;
    color: #fff;
    border-radius: 7px;
    /* font-size: 13px !important; */
}

.user-profile-btn li a p{
	display: inline-block;
	color: #fff;
	margin: 0 5px;
	letter-spacing: .3px;
	text-transform: capitalize;
}

.user-profile-btn .btn-wishlist {
    border-color: #0ba40b;
}

.user-profile-btn .btn-addtocart {
    border-color: #f97896;
}
.user-profile-btn li a .ap-total-wishlist {
    background: #097333;
}

.user-profile-btn li a span {
	margin: 0px 6px;
}

.user-profile-btn .btn-addtocart .cart-products-value {
    position: absolute;
    top: 14px;
    left: 100%;
    font-size: 16px;
    padding-left: 5px;
}

.user-profile-list {
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    -webkit-box-shadow: 0 10px 8px 0 rgb(34 34 34 / 15%);
    -moz-box-shadow: 0 10px 8px 0 rgb(34 34 34 / 15%);
    -ms-box-shadow: 0 10px 8px 0 rgb(34 34 34 / 15%);
    -o-box-shadow: 0 10px 8px 0 rgb(34 34 34 / 15%);
    box-shadow: 0 10px 8px 0 rgb(34 34 34 / 15%);
    min-width: 150px;
    background: #ffffff;
    padding: 0;
    transition: all 0.3s;
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 64px;
    left: 0;
    border-radius: 4px;
    z-index: 9999 !important;
    width: 160px;
    padding: 0px 0px;
}
.user-profile-list li{
    border-bottom: 1px solid #d9d6d6;
}
.user-profile-list li a{
    font-size: 12px;
    padding: 10px 10px;
    display: block;
}
.user-profile-btn li:hover .user-profile-list {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
    top: 36px;
    z-index: 99999 !important;
}
.search-section{
    padding: 30px 0;
}
.title-search{
    text-align: center;
    margin: 15px 0 20px;
}
.title-search h2{
    text-align: center;
    font-weight: 800;
    border-radius: 4px;
    display: inline;
    font-size: 22px;
    position: relative;
    color: #09618C;
}
#top-header {
  border-top: 3px solid #3879dd;
  border-bottom: 2px solid #c1baba;
}
#pin-serach{
    background: #fff;
    border-radius: 3px;
    background: #dedede;
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    font-size: 14px;
    margin: 0px auto 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    border-radius: 0px !important;
    border: 4px solid #fff;
    box-shadow: 0 0 2px #9b9a9a;
    border-radius: 5px;
}
.select-pincode select{
	padding: 10px;
	outline: 0;
	color: #9b9696;
	font-weight: 300;
	font-size: 14px;
	height: 48px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border-right: none;
	padding-left: 5px;
	border-radius: 0px;
	border: none;
}
.select-pincode select:focus{
	box-shadow:none;
}
.searching-products .input-group .input-group-text{
    background: #09618C;
    height: 48px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    position: absolute;
    right: 0;
    border: none;
    width: 48px;
    margin: auto;
    color: #fff;
    text-align: center;
    align-items: center;
    padding: 15px;
    font-size: 17px;
    z-index: 99999999;
}
.searching-products input{
    border: none;
    color: #9b9696;
    font-weight: 300;
    font-size: 14px;
    height: 48px;
    background: #fff !important;
    border-radius: 0px !important;
    border-left: 1px solid #c3c3c3;
    z-index: 99999;
    position: relative !important;
}
.searching-products input:first-child{
	border:none;
}
.my-logos img {
  max-height: 57px;
  z-index: 99999;
}

  /* plan listing  */
.products-collection{
        margin-bottom: 20px !important;
        position: relative;
        border: 1px solid #2882ad;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
        padding: 10px;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        background: #f0f5fbcf;
}
.products-collection:hover{
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
	-ms-box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
	-o-box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
	box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
	border-color: transparent !important;
	-webkit-transition: all .35s linear;
	-moz-transition: all .35s linear;
	-ms-transition: all .35s linear;
	-o-transition: all .35s linear;
	transition: all .35s linear;
}
.products-collection .item-product .thumbnail-container{
    position: relative;
    border-radius: 8px;
    text-align: center;
}
.products-collection .item-product .thumbnail-container .frant-img{
    -webkit-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -ms-transition: all .6s linear;
    -o-transition: all .6s linear;
    transition: all .6s linear;
    height: 60px;
    border-radius: 40px;
}
.products-collection .item-product .thumbnail-container .back-img{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    transform: translateY(20px);
    height: 260px;
}

.products-collection:hover .item-product .thumbnail-container .back-img{
	 -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    visibility: visible;
    transform: translateY(1);
}
.products-collection .group-buttons{
	    position: absolute;
	    bottom: 16px;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	    margin: 0;
	    margin-right: 5px;
	    -webkit-transform: translateY(60px);
	    -ms-transform: translateY(60px);
	    transform: translateY(60px);
	    opacity: 0;
	    transform: scale(0);
	    visibility: hidden;
}
.products-collection .product-info{
    margin: 7px 0;
}
.products-collection .product-info h2{
	    font-size: 15px;
	    font-weight: bold;
	    line-height: 23px;
	    text-align: center;
	    color: #222;
	    letter-spacing: 0.4px;
}
.products-collection .product-pricesss span{
    font-size: 13px;
    margin-right: 3px;
    font-weight: 900;
}
.products-collection .product-pricesss .product-pricesss{
    font-weight: 500;
    font-size: 15px;
}
.products-collection .product-pricesss {
    margin-bottom: 0;
    background: #f2f2f2;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.products-collection .product-pricesss .product-prices{
    font-size: 12px;
    font-weight: 600;
}
.products-collection .product-pricesss .price-discount{
    font-size: 12px;
    color: #e70000;
}
.wishlist-quickview{
    margin-bottom: 0;
    padding: 10px 0;
    width: 100%;
}
.wishlist-quickview ul{
    padding-left: 3px;
}
.wishlist-quickview ul li{
    font-size: 13px;
    font-weight: 600;
    position: relative;
    border-bottom: 1px solid #ddd;
    margin: 5px 25px;
}
.wishlist-quickview ul li i{
    position: absolute;
    left: -22px;
    top: 3px;
}
.add-to-vart h6 span{
    font-size: 11px;
    font-weight: 700;
    margin-right: 98px;
}
.wishlist-quickview p{font-size: 14px;text-align: center;}

.products-collection .add-to-vart .btn-to-select{
    background: #2882ad !important;
    border: none;
    padding: 5px 8px !important;
    font-size: 14px !important;
    color: #fff !important;
    width: 100%;
    font-weight: bold;
    border-radius: 9px;
    border: 1px solid #e5e5e5;
    margin: 0px 10px;
}
.products-collection .add-to-vart .btn-to-select i{
    padding-right: 2px;
    font-size: 14px;
}
.products-collection .add-to-vart .btn-to-select span{
    font-size: 12px;
}
.offertext{
	    left: 25px;
	    top: 25px;
	    z-index: 0;
	    position: absolute;
}
.offertext span{
	    padding: 5px 8px;
	    background-color: #028412;
	    text-transform: uppercase;
	    color: #fff;
	    letter-spacing: 2.1px;
	    font-size: 11px;
	    border-radius: 0 10px 0 10px;
}


.top-bar-curve {
  position: relative;
  padding: 0px 5px;
}

.top-bar-curve:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
  height: 100%;
  content: "";
  z-index: -1;
  transform: skewX(35deg);
  -moz-transform: skewX(35deg);
  -webkit-transform: skewX(35deg);
  -o-transform: skewX(35deg);
  -ms-transform: skewX(35deg);
  transform: skewX(35deg);
  background: #00006a;
}

.top-barcurve {
  background-color: #fff;
  color: #ababab;
  padding: 10px 0;
  overflow: hidden;
  /* background: #8a7bd1; */
}

.topbar-left {
  margin-bottom: 3px;
  padding-left: 15px;
}

.topbar-left li {
  display: inline-block;
  color: #000;
  font-size: 14px;
  padding-right: 10px;
}
.topbar-left li a{
  display: inline-block;
  color: #000;
  font-size: 14px;
  padding-right: 16px;
  position:relative;
}
.topbar-left li a:before{
position:absolute;
content:'';
height:10px;
width: 2px;
background: #7f7a7a;
top:5px;
left: -13px;
}
.topbar-left li a img{
  height: 23px;
  margin-right: 10px;
  margin-left: 10px;
}
.topbar-left li i {
  height: 35px;
  padding: 10px 5px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  color: #fff;
}

.social-bx {
  padding-left: 0px;
  margin-bottom: 3px;
}

.social-bx li {
  display: inline-block;
}

.social-bx li a {
  font-size: 15px;
  padding: 10px 5px;
  text-align: center;
  width: 30px;
  /* margin: 0; */
  color: #fff;
}
.navigation-bar {
  padding: 8px 0px;
  border-bottom: 1px solid #d2d7e0;
  display: flex;
  width: 100%;
}

.manubar {
  position: relative;
}

.manubar li {
  margin: 0px;
  position: relative;
  padding: 0px 2px;
}

.manubar li a {
  text-transform: none;
  position: relative;
  border-radius: 0px;
  color: #222;
  font-size: 16px;
  padding: 17px 13px !important;
  cursor: pointer;
  font-weight: 600;
}
.mobile-call{

margin-left: 15px;
}
#quik-call-btn, .onlineCbseBtn {
  color: #fff;
  padding: 8px 19px 9PX;
  font-size: 13px;
  outline: none;
  background: #f97d44;
  border:0;
  border-radius: 27px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.Zokelijk-btn{

background: #2882ad;
} 
/* Sliders */

.bg-set-image-1,
.bg-set-image-2,
.bg-set-image-3 {
  height: 530px;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.bg-set-image-1 {
  background-image :url(../images/slider-1.png);
}

.bg-set-image-2 {
   background-image :url(../images/silder-2.png);
}

.bg-set-image-3 {
   background-image :url(../images/silder-3.png);
}
.info-section {
  padding: 0 0 50px;
}
.info-section{
padding:40px 0;
}
.banner-card {padding: 20px 29px 20px;background: #f0f5fb;border-radius: 25px;box-shadow: 7px 9px 34px rgb(215 209 209 / 5%);}

.banner-count h2 {
color: #f97d44;
font-size: 34px;
font-weight: 600;
padding-right: 10px;
border-right: 1px solid #fff;
line-height: 55px;
}

.banner-contents {
padding-left: 15px;
}

.banner-contents h2 {
color: #253246;
text-transform: uppercase;
font-size: 15px;
font-weight: 600;
}

.banner-contents a {
color: #EE2C4D;
font-size: 12px;
display: none;
}

.call-to-action-section-two{
position:relative;
text-align:center;
padding:100px 0px 90px;
background-size:cover;
background-color:#f0f5fb;
background-position:center top;
}

.call-to-action-section-two .content{
position:relative;
}

.call-to-action-section-two .content h2{position: relative;color: #ffffff;line-height: 1.4em;font-weight: 700;font-size: 38px;text-transform: capitalize;}

.call-to-action-section-two .content .text{
  position: relative;
  color: #ffffff;
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
margin-bottom:35px;
}

.call-to-action-section-two .theme-btn{
margin:0px 10px;
}

.btn-style-one{
position: relative;
display: inline-block;
font-size: 16px;
line-height: 30px;
color: #ffffff;
padding: 10px 44px 10px;
font-weight: 400;
overflow: hidden;
background: none;
border-radius:50px;
background-color: #f97d44;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
box-shadow:0px 5px 10px rgba(0,0,0,0.10);
}

.btn-style-one i{
margin-left:5px;
}

.btn-style-one .txt{
position:relative;
z-index:1;
}

.btn-style-one:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
}

.btn-style-one:hover::before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.btn-style-one:hover{
color: #f97d44;
}

.main-footer{
position:relative;
background-color: #f0f5fb;
}

.main-footer .pattern-layer{
position:absolute;
left: -226px;
top:-120px;
width:336px;
height:316px;
}

.main-footer .pattern-layer-two{
position:absolute;
right:0px;
bottom:0px;
width:97px;
height:192px;
}

.main-footer .pattern-layer-three{
position:absolute;
left:0px;
top:0px;
right:0px;
bottom:0px;
background-size:cover;
background-repeat:no-repeat;
}

.main-footer .pattern-layer-four{
position:absolute;
left:40px;
bottom:50px;
width:38px;
height:277px;
background-repeat:no-repeat;
}

.main-footer .pattern-layer-five{
position:absolute;
right:40px;
top:160px;
width:232px;
height:45px;
background-repeat:no-repeat;
}

.main-footer .pattern-layer-six{
position:absolute;
right:150px;
bottom:15px;
width:91px;
height:91px;
background-repeat:no-repeat;
}

.main-footer .widgets-section{
position:relative;
padding: 80px 0px 25px;
}

.main-footer .footer-widget{
position:relative;
z-index:2;
margin-bottom:30px;
}

.main-footer .footer-widget h4{
position:relative;
font-weight: bold;
color:#03382e;
padding-bottom:10px;
margin-bottom:30px;
text-transform:capitalize;
font-size: 20px;
}

.main-footer .footer-widget h4:before{
position:absolute;
content:'';
left:0px;
bottom:0px;
height:2px;
width:30px;
background-color:#03382e;
}

.main-footer .logo-widget{
position:relative;
z-index:3;
}

.main-footer .logo-widget .logo{
position:relative;
margin-bottom:18px;
}

.main-footer .logo-widget .text{
position:relative;
font-size: 15px;
color:#626262;
line-height:1.7em;
margin-bottom:25px;
}

.main-footer .logo-widget .social-box{
position:relative;
}

.main-footer .logo-widget .social-box a{
position:relative;
font-size:18px;
color:#626262;
margin-right:20px;
-webkit-transition:all 300ms ease;
-ms-transition:all 300ms ease;
-o-transition:all 300ms ease;
-moz-transition:all 300ms ease;
transition:all 300ms ease;
}

.main-footer .logo-widget .social-box a:hover{
color:#00ab15;
}

.main-footer .logo-widget .copyright{
margin-top:20px;
}

.main-footer .links-widget li{
position:relative;
margin-bottom: 11px;
}

.main-footer .links-widget li a{
position:relative;
color:#626262;
font-size: 15px;
-webkit-transition:all 300ms ease;
-ms-transition:all 300ms ease;
-o-transition:all 300ms ease;
-moz-transition:all 300ms ease;
transition:all 300ms ease;
}

.main-footer .links-widget li a:hover{
color:#00ab15;
}

.main-footer .links-widget .copyright{
position:relative;
color:#03382e;
font-size:14px;
font-weight:300;
}

.main-footer .footer-bottom{
position:relative;
padding:20px 0px;
text-align:center;
border-top:1px solid rgba(255,255,255,0.10);
}

.main-footer .footer-bottom .copyright{
position:relative;
color:#dcdddd;
font-size:14px;
font-weight:300;
}

.main-footer .upper-box{
position:relative;
z-index:1;
padding-top:100px;
padding-bottom:20px;
}

.main-footer .upper-box h2{
position:relative;
color:#ffffff;
line-height:1.2em;
font-weight:700;
margin-bottom:40px;
text-align:center;
font-family: 'Roboto Condensed', sans-serif;
}

.main-footer .upper-box .subscribe-form{
max-width:600px;
margin:0 auto;
}
#about{
  padding: 25px 0;
}
.section-content h3{
  font-weight: 700;
  color: #404040;
  font-size: 25px;
  text-transform: none;
  margin-bottom: 15px;
}
.about-images img{
  border-radius: 10px;
}
.sigle-address {
  margin-bottom: 16px;
}
.address-icon {
 /* float: left; */
 /* display: block; */
 margin-right: 10px;
 margin-top: 3px;
}
.address-icon1 {
 float: left;
 display: block;
 margin-right: 10px; 
 margin-top: 3px; 
}
.address-icon1 i{
    color: #626262;
  font-size: 18px;
}
.address-icon i {
  color: #626262;
  font-size: 18px;
}
.sigle-address p {
  overflow: hidden;
  display: block;
  margin-bottom: 0;
  line-height: 1.3;
  font-size: 15px;
  color: #626262;
}
.benefits-section {
  /* background: #1D1762; */
  position: relative;
  z-index: 1;
  padding: 60px 0;
}
.benefit-header {
  margin: 0 0 15px;
}
.benefit-header h6 {
  color: #ffb801;
  line-height: 24px;
  font-weight: 700;
  font-size: 16px;
}
.benefit-header h2 {
  font-size: 40px;
  line-height: 50px;
  color: #1D1762;
  margin: 0 0 15px;
  font-weight: bold;
}
.btn-fill {
  background: #dd006a;
  color: #fff;
  border-radius: 30px;
  box-shadow: -2px 2px 4px rgb(5 90 190 / 10%);
  font-size: 14px;
  padding: 7px 28px 8px;
  font-weight: 700;
}
.benefit-widget {
  background: #e5e5e5;
  padding: 40px 20px;
  border-radius: 5px;
  position: relative;
  margin: 15px 0;
  box-shadow: 16px 2px 7px -6px #f2f2f2;
}
.benefit-widget-clr1:before {
  background: #FFB801;
}
.benefit-widget:before {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% + 23px);
  left: 0;
  top: -15px;
  border-radius: 5px;
  z-index: -1;
}
.benefit-widget h2 {
  color: #323232;
  font-size: 21px;
  font-weight: 900;
}
.benefit-widget p{
padding: 0;
margin: 6px 0px;
font-size: 15px;
color: #222;
line-height: 26px;
}
.benefit-widget a {
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  background: #f97d44;
  color: #fff;
  padding: 3px 10px;
  border-radius: -16px;
}
.clr-yellow {
  color: #ffb801;
}
.benefit-widget-clr2:before {
  background: #DD006A;
}
.benefit-widget-clr3:before {
  background: #0066DD;
}
.benefit-widget-clr4:before {
  background: #01D1FF;
}
.testimonial-area {
  background: #f5f4f3;
  padding: 55px 0 40px;
}
.sec-title {
  position: relative;
  text-align: center;
  width: 100%;
}
.sec-title h3 {
  color: #404040;
  font-weight: 700;
  font-size: 25px;
  text-transform: none;
  margin-bottom: 15px;
}
.single-testimonial-item {
  overflow: hidden;
  float: left;
  background: #ffffff;
  margin-bottom: 30px;
  display: block;
  padding: 38px 40px 36px;
  border-radius: 30px 0 30px 0;
}
.single-testimonial-item .img-holder {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #f4f4f4;
  border-radius: 50%;
  display: block;
  height: 85px;
  margin: 0 auto;
  overflow: hidden;
  width: 85px;
  z-index: 1;
  position: relative;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding: 2px;
}
.single-testimonial-item .text-holder {
  padding-top: 20px;
  transition: all 0.7s ease;
}
.single-testimonial-item:hover .img-holder{
  background: #f97d44;
  border-color: #f97d44;
} 

.single-testimonial-item .text-holder p {
  margin: 0 0 13px;
}
.single-testimonial-item .name h3 {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-transform: none;
  margin: 0 0 12px;
}
.scroll-to-top{
position:fixed;
bottom:15px;
right:15px;
width: 45px;
height: 45px;
color:#ffffff;
font-size:24px;
text-transform:uppercase;
line-height: 45px;
text-align:center;
z-index:100;
cursor:pointer;
background: #f97d44;
display:block;
-webkit-transition:all 300ms ease;
-ms-transition:all 300ms ease;
-o-transition:all 300ms ease;
-moz-transition:all 300ms ease;
transition:all 300ms ease;
}
.scroll-to-top:hover{
color:#ffffff;
background:#00ab15;
}

/* students profiles */

/** page-title **/

.page-title{position: relative;width: 100%;padding-top: 120px;background-size: cover !important;background-repeat: no-repeat;background-position: center;background: linear-gradient(rgb(0 0 0 / 69%), rgb(3 5 9 / 90%)), url(../images/bg-title-about.jpg);}

.page-title .content-box{
position: relative;
display: block;
margin-right: 70px;
padding: 10px 50px 10px 0px;
border-top-right-radius: 30px;
}

.page-title .content-box:before{position: absolute;content: '';width: 5000px;height: 100%;top: 0px;right: 0px;/* border-top-right-radius: 30px; */background: #2882ad;bottom: 0;}

.page-title .content-box .title h1{position: relative;font-size: 18px;font-weight: 700;color: #fff;}

.page-title .content-box .bread-crumb{position: relative;margin-top: 5px;}

.page-title .content-box .bread-crumb li{position: relative;display: inline-block;font-size: 16px;color: #fff;font-weight: 600;padding-right: 30px;margin-right: 7px;}

.page-title .content-box .bread-crumb li:last-child{
padding: 0px;
margin: 0px;
}

.page-title .content-box .bread-crumb li a{
color: #fff;
}

.page-title .content-box .bread-crumb li a:hover{
text-decoration: underline;
}
.page-title .content-box .bread-crumb li:before{
position: absolute;
content: "\f101";
font-family: 'FontAwesome';
font-weight: 700;
font-size: 15px;
right: 0px;
top: 0px;
color: #fff;
transition: all 500ms ease;
}

.page-title .content-box .bread-crumb li:last-child:before{
display: none;
}

.mr-t-40{
margin-top:50px;
}
.contact-form {
background: #fefefe;
box-shadow: 0 0 95px 0px rgb(0 0 0 / 10%);
padding: 30px;
border-radius: 0.25rem;
-webkit-transition: all 1s;
-ms-transition: all 1s;
transition: all 1s;
text-align: center;
position: relative;
}
.contact-form input {border-radius: 6px;height: 45px;border: 1px solid #cccccc;padding: 10px 20px;font-size: 14px;font-weight: 400;color: #222;transition: all 0.3s ease-in-out;margin-bottom: 15px !important;background: #4711370f;}

.contact-form textarea {
border-radius: 23px;
height: 100px;
border: 1px solid #cccccc;
padding: 10px 20px;
font-size: 15px;
font-weight: 400;
color: #888;
transition: all 0.3s ease-in-out;
background: #4711370f;
margin-bottom: 26px !important;
}
.contact-form select {
border-radius: 23px;
height: 50px !important;
border: 1px solid #cccccc;
padding: 10px 20px;
font-size: 15px;
font-weight: 400;
color: #888;
transition: all 0.3s ease-in-out;
background: #4711370f;
margin-bottom: 26px !important;
padding-right: 20px;
}

.btn-block button {border: 1px solid;color: #fff;display: inline-block;font-size: 17px;line-height: 1;text-align: center;text-transform: uppercase;padding: 14px 30px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;border-color: unset;background: #2882ad;border: none;display: block;width: 100%;border-radius: 5px;}
.gender-input {margin-bottom: 10px;}
.gender-input label input {
height: auto;
}
.gender-input label {margin-right: 15px;font-size: 14px;font-weight: 600;}

.gender-input input {
margin: 0 !important;
}
.btn-danger {
background: red !important;
}
.form-heading {
font-size: 25px;
margin-bottom: 25px;
}


/*-----------------
9. Login
-----------------------*/

/*-----------------
8. Focus Label
-----------------------*/

.form-focus {
height: 50px;
position: relative;
margin-bottom: 10px;
}

.form-focus .focus-label {
font-size: 14px;
font-weight: 400;
pointer-events: none;
position: absolute;
-webkit-transform: translate3d(0, 22px, 0) scale(1);
-ms-transform: translate3d(0, 22px, 0) scale(1);
-o-transform: translate3d(0, 22px, 0) scale(1);
transform: translate3d(0, 22px, 0) scale(1);
transform-origin: left top;
transition: 240ms;
left: 12px;
top: -8px;
z-index: 1;
color: #b8b8b8;
margin-bottom: 0;
}

.form-focus .form-control {
font-size: 16px;
height: 50px;
margin-bottom: 10px;
}

.account-page {
background-color: #fff;
}

.account-page .content {
padding: 50px 0;
}

.login-right {
background-color: #f0f5fb;
border: 3px solid #f0f0f0;
border-radius: 4px;
padding: 25px;
}

.login-header {
margin-bottom: 20px;
}

.login-header p {
margin-bottom: 0;
font-size: 15px;
}

.login-header h3 {
font-size: 25px;
margin-bottom: 3px;
font-weight: bold;
text-align: center;
}

.login-header h3 a {
color: #D0499A;
float: right;
font-size: 15px;
margin-top: 2px;
}

.login-right .dont-have {
color: #3d3d3d;
margin-top: 20px;
font-size: 13px;
}

.login-right .dont-have a {
color: #09dca4;
}

.login-btn {
font-size: 18px;
font-weight: 500;
}

.login-or {
color: #d4d4d4;
margin-bottom: 20px;
margin-top: 20px;
padding-bottom: 10px;
padding-top: 10px;
position: relative;
}

.or-line {
background-color: #e5e5e5;
height: 1px;
margin-bottom: 0;
margin-top: 0;
display: block;
}

.span-or {
background-color: #fff;
display: block;
left: 50%;
margin-left: -20px;
position: absolute;
text-align: center;
top: -3px;
width: 42px;
}

.forgot-link {
color: #3d3d3d;
display: inline-block;
font-size: 13px;
margin-bottom: 10px;
font-weight: 400;
}

.btn-facebook {
background-color: #3a559f;
color: #fff;
font-size: 13px;
padding: 8px 12px;
}

.btn-google {
background-color: #dd4b39;
color: #fff;
font-size: 13px;
padding: 8px 12px;
}

.social-login .btn:hover,
.social-login .btn:focus {
color: #fff;
}

/* about us */
.pd-tb-50{
padding:50px 0;
} 
.wel-box{
 /* border: 1px solid #f9f9f9; */
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  padding: 11px;
  background: #fff;
  /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12); */
  box-shadow: 0px 0px 10px #00000024;
}
/*--- Welcome Section CSS --*/
.wel-box-body .sub-text{
  color: #2882ad;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: none;
  line-height: 26px;
  letter-spacing: 3px;
}
.wel-box-body h1{
  color: #222;
  font-size: 37px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  font-weight: 800;
}
.wel-box-body p{
  font-size: 15px;
  line-height: 28px;
}


#preloader {

    position: fixed;

    left: 0;

    right: 0;

    top: 0;

    z-index: 99999;

    background-color: rgba(0, 0, 0, .5);

    height: 100vh;

    width: 100%;

    display: block;

    overflow-y: hidden;

}



.loader_spinner_inside {

    box-sizing: border-box;

    border: 8px solid #f3f3f3;

    border-top-color: #f3f3f3;

    border-top-style: solid;

    border-top-width: 8px;

    border-radius: 50%;

    border-top: 8px solid #3498db;

    width: 60px;

    height: 60px;

    position: absolute;

    left: 0;

    right: 0;

    margin: 0 auto;

    top: 42%;

    animation-name: spin;

    -webkit-animation: spin 1s linear infinite;

    animation: spin 1s linear infinite;

}



@keyframes spin {

    from {

        transform: rotate(0deg);

    }



    to {

        transform: rotate(360deg);

    }

}



.loader_spinner_text {

    display: block;

    margin-top: 60px;

    width: 100%;

    position: fixed;

    left: 0;

    right: 0;

    text-align: center;

    color: #fff;

    top: 44%;

}







.toast {
    position: fixed;
    padding: 5px;
    bottom: -100px;
    left: 50%;
    transition: 0.3s;
    transform: translateX(-50%);
    background: #333!important;
    color: #fff!important;
    font-size: 16px;
    padding: 16px 36px !important;
    text-align: center;
    width: auto;
    z-index: 9999;
}



.toast-body {
    display: flex;
    align-items: center;
}
.toast i {
    margin-right: 10px;
    font-size: 20px;
}
.toast i.green {
    color: #26bc4e;
}
.toast i.red {
    color: #ff4343;
}
.toast i.warning {
    color: #f0ad4e;
}
.toast.show {
    bottom: 30px;
}
.load-btn {
    border: 3px solid #fff;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 3px solid #007bff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.load-btn-footer {
    border: 3px solid #fff;
    -webkit-animation: spinfooter 1s linear infinite;
    animation: spinfooter 1s linear infinite;
    border-top: 3px solid #007bff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
/* Safari */
@-webkit-keyframes spinfooter {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {

        -webkit-transform: rotate(360deg);
    }
}
@keyframes spinfooter {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.user_profile {
    position: absolute;
    right: auto;
    left: auto;
    margin-top: -23px;
}
#preload {
    display: none;
}


/*** 

====================================================================
  Plan Section
====================================================================

***/


.ticket-price {position: relative;padding: 0px 0 50px;background-repeat: no-repeat;background-size: cover;background-position: center center;}



.map{
padding-top: 20px;
padding-bottom: 50px;
}
.content-heading{margin-left: 36px;background-color: #fafafa;border-radius: 10px;}
.heading{
color: #282828;
position: relative;
padding-bottom: 14px;
font-weight: 800;
font-size: 23px;
}
.heading::after {
content: "";
position: absolute;
border: 0;
width: 50px;
height: 5px;
background: #2882ad;
z-index: 9;
margin-left: 0;
left: 0;
bottom: 0;
}
.pb-45 {
padding-bottom: 13px;
padding-top: 17px;
font-size:15px;
color: #646464;
}
.margin-0 {
margin: 0;
}
.mb-20 {
margin-bottom: 20px;
}
.form-part::placeholder{
color:#646464;
}
;padding: 10px 18px;height: 45px;font-size: 14px;background: #fff !important;}
.mb-30 {
margin-bottom: 30px;
}
.type{
color: #fff;
text-transform: uppercase;
padding: 14px 40px;
width: 100%;
max-width: 100%;
border-radius: 5px;
background: #2882ad;
border: 2px solid;
border-color: #009961;
-webkit-appearance: button;
cursor: pointer;
transition: all 0.3s ease 0s;
font-size: 18px;
font-weight: 700;
}
.pb-100{
padding-bottom: 50px;
padding-top: 50px;
}
.address-item{
padding: 25px;
background-color: #ededed;
border-radius: 4px;
text-align: center;
box-shadow: 2px 2px #cfc8c8;
height: 250px;
}
.address-icon{
background: #2882ad;
height: 70px;
width: 70px;
line-height: 87px;
border-radius: 100%;
position: relative;
margin: 0 auto 15px;
}
.address-icon i::before{
font-size: 42px;
color: #ffffff;
margin-top: 0;
margin-left: 0;
line-height: 10px;
}
.address-item .address-icon::before{
content: "";
position: absolute;
z-index: 0;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
display: block;
width: 70px;
height: 70px;
background: #2882ad;
border-radius: 50%;
animation: pulse-border 1.5s ease-out infinite;
opacity: 0;
visibility: hidden;
}
.address-item:hover .address-icon:before {
opacity: 1;
visibility: visible;
}
@keyframes pulse-border {
0% {
transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
opacity: 1;
}
100% {
transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
opacity: 0;
}
}

.contact-title{
font-size: 22px;
margin: 0 0 10px;
font-weight: 700;
color: #2882ad;
}
.numbers li a{
text-decoration:none;
color: #505050;
}
.numbers{
list-style:none;
}
.numbers li{
font-size:15px;
}
.time{
list-style:none;
padding-left:0;
}
.address-text ul li{
font-size: 16px;
line-height: 26px;
font-weight: 400;
color: #505050;
}
.address-text p{
color: #505050;
}


.ticket-price .single-ticket {
position: relative;
margin-bottom: 14px;
 border-radius: 5px;
    -webkit-box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
    box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.single-ticket:hover {
    background: #ff6d34;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.ticket-price.style-3 .single-ticket .inner-box:after {
position: absolute;
content: "FEATURED";
left: -26px;
top: 16px;
color: #fff;
font-weight: 700;
font-size: 12px;
font-family: "Open sans", sans-serif;
background: #4d4d4d;
opacity: 0;
visibility: hidden;
transition: .5s ease-in;
transform: rotate(-45deg);
padding: 3px 24px;
}
.ticket-price.style-3 .single-ticket:hover .inner-box:after {
opacity: 1;
visibility: visible;
transition: .5s ease-in;
}



.price-page .ticket-price {
background: #fff;
background-image: none;
}
.price-page .ticket-price:before {
display: none;
}


.price-page .ticket-price .section-title h2 {
color: #353535;
}

.price-page .ticket-price.style-2 {
background: #fafafa;
background-image: none;
}
.price-page .ticket-price.style-3 {
background: #fff;
background-image: none;
}
.price-page .ticket-price.style-2 .plan-header,
.price-page .ticket-price.style-3 .plan-header {
background: transparent;
}
.price-page .ticket-price.style-2 .plan-header {
border-bottom: 1px solid #ededed;
}


.price-page .ticket-price.style-2 .inner-box:hover a {
background: #474747;
border-color: #474747;
color: #fff;
}
.price-page .ticket-price.style-2 .plan-header.btn-bg-2 h2,
.price-page .ticket-price.style-3 .plan-header.btn-bg-2 h2 {
color: #fe702a;
}

.price-page .ticket-price.style-2 .plan-header.btn-bg-3 h2,
.price-page .ticket-price.style-3 .plan-header.btn-bg-3 h2 {
color: #08c1d7;
}
.price-page .ticket-price.style-2 .plan-header .plan-duration,
.price-page .ticket-price.style-3 .plan-header .plan-duration {
color: #353535;
}



.ticket-price .section-title {
position: relative;
margin-bottom: 0;
}
.ticket-price .section-title h2 {
position: relative;
color: #000;
text-align: center;
margin-bottom: 30px;
  font-weight: 700;
color: #404040;
font-size: 25px;
text-transform: none;
margin-bottom: 15px;
}

.ticket-price .pricing-column {/* padding: 0 25px; */}
.ticket-price.style-3 .pricing-column {
padding: 0 20px;
transition: .5s ease;
}
.price-page .ticket-price .pricing-column .inner-box {
border: 1px solid #ededed;
}

.ticket-price.style-3 .pricing-column:hover {
transform: scale(1.22,1.22);
transition: .5s ease;
}
.ticket-price.style-3 .plan-header {
padding: 50px 0 0px;
}

.ticket-price .inner-box {text-align: center;position: relative;padding-bottom: 32px;background: #f0f5fb;overflow: hidden;border-radius: 5px;transition: all 700ms ease;-moz-transition: all 700ms ease;-webkit-transition: all 700ms ease;-ms-transition: all 700ms ease;-o-transition: all 700ms ease;}

.ticket-price .plan-header {
position: relative;
padding: 4px 0 0px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
/* background: #2882ad; */
}


.ticket-price .plan-header h2 {
font-size: 21px;
color: #ffffff;
font-weight: bold;
}
.ticket-price .plan-header h2 span{
margin-left: 12px;
text-decoration: line-through;
}

.price-page .ticket-price.style-3 .plan-header h2 {
font-size: 48px;
height: 130px;
width: 130px;
margin: 0 auto;
border: 1px solid #ededed;
border-radius: 50%;
line-height: 130px;
transition: .5s ease;
margin-bottom: 20px;
}
.price-page .ticket-price.style-3 .plan-stats {
padding: 19px 0 32px;
}

.price-page .ticket-price.style-3 .pricing-column:hover .plan-header h2 {
transform: scale(1.1,1.1);
transition: .5s ease;
}



.ticket-price .plan-duration {
position: relative;
font-size: 18px;
color: #fff;
font-weight: 700;
padding-bottom: 10px;
letter-spacing: 0.5px;
}

.ticket-price .plan-stats {position: relative;padding: 15px 0 15px 15px;}

.ticket-price .plan-stats li {position: relative;color: #2b2d2f;font-size: 15px;font-weight: 400;padding-bottom: 7px;text-align: left;}

.ticket-price .inner-box .btn-style-two {padding: 5px 40px;transition: .5s ease-in;border: 1px solid #2882ad;font-size: 17px;border-radius: 8px;color: #2882ad;text-transform: capitalize;/* font-weight: bolder; */}
.ticket-price .inner-box:hover .btn-style-two.color-1 {
color: #c45cfa;
border-color: #c45cfa;
transition: .5s ease-in;
}
.ticket-price .inner-box:hover .btn-style-two.color-2 {
color: #f96921;
border-color: #f96921;
transition: .5s ease-in;
}
.ticket-price .inner-box:hover .btn-style-two.color-3 {
color: #08c1d7;
border-color: #08c1d7;
transition: .5s ease-in;
}
.btn-bg-3 {
background: #b75af3;
}
.btn-bg-2 {
background: #fe702a;
}
.btn-bg-1 {
background: #08c1d7;
}
.mobile-user{
display:none;
}

.megacourse-menu {
  width: 100%;
  background: #09618C;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
  padding: 30px 15px;
  border-radius: 0;
  border: none;
}
.megacourse-menu .menu-heading {
}
.megacourse-menu .menu-heading h6 {
    font-weight: 700;
    margin: 0;
    font-size: 20px;
    color: #fff !important;
    letter-spacing: 0.2px;
    text-decoration: none;
    padding: 0;
    text-transform: inherit;
}
.megamenu-links {
}
.megamenu-links ul {
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-top: 24px;
    list-style: none;
    margin-bottom: 0;
}

.megamenu-links ul:before {
    content: "";
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    background: #ff6d00;
}
.megamenu-links ul li {
    width: 100%;
    height: auto;
    float: left;
    padding: 0;
    margin-right: 0;
    margin-bottom: 7px;
    list-style: none;
}
.megamenu-links ul:before {
}
.megamenu-links ul li a {
    color: #fff !important;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
    font-size: 13px;
}
.megamenu-links ul .megamenu-links2 {
    position: relative;
    padding-left: 22px;
    margin-top: -2px;
}
.megamenu-links ul .megamenu-links2:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 13px;
    width: 12px;
    height: 1px;
    background-color: #ffb607;
}
.megamenu-links ul .megamenu-links2:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 3px;
    width: 1px;
    height: 10px;
    background-color: #ffb607;
}
.megamenu-links ul .megamenu-links2 {
}
.megamenu-links ul .megamenu-links2 span {
    font-size: 15px;
    color: #ffb607;
    margin: 0 3px;
}

.innermanu-list li {
    position: relative;
}
.innermanu-list li:nth-child(5) {
    margin: 10px 15px !important;
}

.innermanu-list li a {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff !important;
    padding: 9px 20px;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.innermanu-list li a:hover {
    background: transparent;
}
.innermanu-list li a:before {
    content: "\f178";
    font-family: "FontAwesome";
    font-weight: 600;
    font-size: 15px;
    color: #f93;
    position: absolute;
    top: 8px;
    left: 13px;
    transform: scale(0);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.innermanu-list li a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    border-bottom: 1px solid #e9e9e9;
    z-index: 1;
}
.innermanu-list li a:hover {
    color: #ff9933;
    padding-left: 40px;
}
.innermanu-list li:nth-child(5)a:hover {
    color: #ff9933;
    padding-left: 40px;
}
.innermanu-list li:nth-child(5) a:hover:before {
}
.plan-sec{
	padding:40px 0;
}
.user-cons i{
	font-size: 65px;
    margin-bottom: 20px;
    color: #2881ac;
    border: 2px solid #2882ad;
    border-radius: 50%;
    height: 86px;
    width: 86px;
    line-height: 86px;
}
.file-attachment-input {
    position: relative;
    display: block;
    background-color: #f8fafd;
    border: 2px dashed #e7eaf3;
    cursor: pointer;
    border-radius: .3125rem;
    padding: 5px 12px;
    margin-bottom: 0;
    width: 100%;
    color: #77838f!important;
    text-align: center;
    font-weight: 500;
    line-height: 25px;
    font-size: 13px;
    margin-bottom: 20px;
}
.file-attachment-input small{font-size: 13px;font-weight: 300;}
.file-attachment-input input[type=file] {
    display: none;
}
.pd-50{
	padding:50px 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px){
.mobile-user{align-items: center;}	 
.mobile-user li a{padding:7px;}
.navbar-toggler{
    font-size: 28px;
    /* position: absolute; */
    /* right: 15px; */
    /* top: 4px; */
}	 
.bg-set-image-1,
.bg-set-image-2,
.bg-set-image-3 {
  height: 125px;
}	 
.manubar li a {
  font-size: 16px;
  padding: 3px 1px !important;
}	
#quik-call-btn, .onlineCbseBtn {
  color: #fff;
  padding: 5px 10px;
  font-size: 11px;
}
.mobile-call {
  margin-left: 28px !important;
  vertical-align: bottom;
  display: inline-flex;
  position: relative;
  top: -3px;
}
.info-section {
  padding: 22px 0;
}
.banner-card {
  padding: 10px;
  background: #f0f5fb;
  border-radius: 4px;
  box-shadow: 7px 9px 34px rgb(215 209 209 / 5%);
  border: 1px solid #da700d;
  margin-bottom: 16px;
}
.banner-count h2 {
  color: #f97d44;
  font-size: 24px;
  font-weight: 600;
  padding-right: 10px;
  border-right: 1px solid #fff;
  line-height: 20px;
}
.benefits-section {
  background: #1D1762;
  position: relative;
  z-index: 1;
  padding: 30px 0;
}
.benefit-header h2 {
  font-size: 25px;
  line-height: 33px;
  color: #fff;
  margin: 0px 0px 10px;
}
.btn-fill {
  background: #dd006a;
  color: #fff;
  border-radius: 30px;
  box-shadow: -2px 2px 4px rgb(5 90 190 / 10%);
  font-size: 10px;
  padding: 7px 13px 8px;
  font-weight: 700;
}
.benefit-widget {
  padding: 12px 20px;
  box-shadow: none;
  margin-bottom: 30px;
}
.desktop-btn{
  display:none;
}
.megamenu-links ul{
  padding-left:0;
}
.megamenu-links ul li a{
  font-size: 11px;
}
.megamenu-links ul:before{
  display: none;
}
.megamenu-links {
  border-bottom: 1px solid #fff;
}
.section-content h3 {
  font-size: 22px;
}
.call-to-action-section-two {
  padding: 15px 0px 20px;
}
.btn-style-one {
  padding: 10px 15px;
  line-height: normal;;
}
.call-to-action-section-two .theme-btn {
  margin: 0px 3px;
}
.testimonial-area {
  background: #f5f4f3;
  padding: 20px 0 40px;
}
.call-to-action-section-two .content h2 {
    font-size: 24px;
}
.call-to-action-section-two .content .text {
    font-size: 15px;
    margin: 5px 0;
}
.single-testimonial-item {
    padding: 20px;
    border-radius: 30px 0 30px 0;
}
.sec-title h3 {
    font-size: 25px;
    margin-bottom: 0;
}
.pull-left {
    display: none;
}
.page-title .content-box .bread-crumb {
    margin-top: 0;
}
.page-title .content-box {
    margin-right: 92px;
    padding: 10px 50px 10px 0px;
}
.page-title .content-box .bread-crumb li {
    font-size: 13px;
}
.ticket-price .section-title h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.ticket-price {
    padding: 30px 0 50px;
}
.address-item {
    padding: 20px;
    background-color: #ededed;
    border-radius: 4px;
    text-align: center;
    box-shadow: 2px 2px #cfc8c8;
    height: auto;
    margin-bottom: 20px;
}
.content-heading {
    margin-left: 15px;
}
.contact-form input {
    border-radius: 10px;
	margin-bottom:0px !important
}
.contact-form {
    padding: 30px 15px;
}
.login-boxsss{
	
position: fixed;
	
z-index: 9999;
	
background: #8cddca;
	
left: 0;
	
width: 100%;
	
height: 45px;
	
bottom: 0;
	
right: 0;
}
.user-profile-btn li.nav-item>a {
    display: block;
	text-align:center;
}
.select-pincode select{
	margin-top:10px;
}
} 
 
@media only screen and (min-width:768px) and (max-width:1024px){
.manubar li a {
    font-size: 15px;
    padding: 15px 8px !important;
}	
#quik-call-btn, .onlineCbseBtn {
    padding: 8px 19px 9PX;
}	
.bg-set-image-1, .bg-set-image-2, .bg-set-image-3 {
    height: 280px;
}	

.megamenu-links ul li a {
    font-size: 11px;
}
.benefits-section {
    padding: 20px 0;
}
.benefit-header h2 {
    font-size: 29px;
    margin: 0 0 0px;
    font-weight: bold;
}
} 

